@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 0 10px 10px;
  margin: 0 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #fff;
}

.app-container .box-header {
  padding: 10px;
}

.app-container .filter-container {
  padding-bottom: 10px;
  .filter-item {
    margin-left: 0;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: middle;
  }
  .filter-item.el-input {
    width: 200px;
  }
  .filter-item.el-select {
    width: 150px;
  }
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.el-menu-item {
  height: 45px;
  line-height: 45px;
}

.el-submenu .el-menu-item {
  height: 40px;
  line-height: 40px;
}

.el-submenu__title {
  height: 45px;
  line-height: 45px;
}

.tool-group {
  margin-right: 5px;
}

.el-button--yellow {
  background-color: #F48742 !important;
  border-color: #F48742 !important;
  color: #ffffff;
}

.el-button--yellow:hover {
  background-color: #d6783c !important;
  border-color: #d6783c !important;
  color: #ffffff;
}

.el-button--red {
  background-color: #E7505A !important;
  border-color: #E7505A !important;
  color: #ffffff;
}

.el-button--red:hover {
  background-color: #c8414a !important;
  border-color: #c8414a !important;
  color: #ffffff;
}
.el-button--light-red {
  background-color: #E76950 !important;
  border-color: #E76950 !important;
  color: #ffffff;
}

.el-button--light-red:hover {
  background-color: #ca4228 !important;
  border-color: #c55640 !important;
  color: #ffffff;
}

.el-button--purple {
  background-color: #CC50E7 !important;
  border-color: #CC50E7 !important;
  color: #ffffff;
}

.el-button--purple:hover {
  background-color: #973aab !important;
  border-color: #973aab !important;
  color: #ffffff;
}

.el-button--blue {
  background-color: #5094E7 !important;
  border-color: #5094E7 !important;
  color: #ffffff;
}

.el-button--blue:hover {
  background-color: #3968a1 !important;
  border-color: #3968a1 !important;
  color: #ffffff;
}

.el-button--cyan {
  background-color: #18AC92 !important;
  border-color: #18AC92 !important;
  color: #ffffff;
}

.el-button--cyan:hover {
  background-color: #108a75 !important;
  border-color: #108a75 !important;
  color: #ffffff;
}

.el-button--green {
  background-color: #56AC18 !important;
  border-color: #56AC18 !important;
  color: #ffffff;
}

.el-button--green:hover {
  background-color: #458e10 !important;
  border-color: #458e10 !important;
  color: #ffffff;
}


.one-color {
  background-color: #E7505A !important;
  border-color: #E7505A !important;
  color: #ffffff;
}

.one-color:hover {
  background-color: #c8414a !important;
  border-color: #c8414a !important;
  color: #ffffff;
}

.four-color {
  background-color: #18AC92 !important;
  border-color: #18AC92 !important;
  color: #ffffff;
}

.four-color:hover {
  background-color: #108a75 !important;
  border-color: #108a75 !important;
  color: #ffffff;
}

.five-color {
  background-color: #5094E7 !important;
  border-color: #5094E7 !important;
  color: #ffffff;
}

.five-color:hover {
  background-color: #3968a1 !important;
  border-color: #3968a1 !important;
  color: #ffffff;
}

.seven-color {
  background-color: #E76950 !important;
  border-color: #E76950 !important;
  color: #ffffff;
}

.seven-color:hover {
  background-color: #c8414a !important;
  border-color: #c8414a !important;
  color: #ffffff;
}

.app-container {
  padding-top: 10px;
}

.tool-container {
  margin-bottom: 10px;
}

.tool-container button {
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 5px;
}

.tool-container .el-button {
  margin-left: 0;
}

.el-dialog__header {
  background-color: #fafafa;
  overflow: hidden;
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
}

.el-dialog__body {
  padding: 20px;
}

.form-box {
  min-height: 250px;
  padding: 0 15px 15px 15px;
  border-radius: 3px;
  & .box {
    position: relative;
    border-radius: 3px;
    background: #fff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  }
  & .box.box-info {
    border-top-color: #00c0ef;
  }
  & .box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
  }
  & .box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    & .box-title {
      display: inline-block;
      font-size: 18px;
      margin: 0;
      line-height: 1;
    }
    & .box-tools {
      position: absolute;
      right: 10px;
      top: 5px;
    }
  }

  & .box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
  }

  & .box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;

    & .pull-right {
      float: right !important;
    }
    & .btn-group, .btn-group-vertical {
      position: relative;
      display: inline-block;
      vertical-align: middle;
    }
  }

  & .el-form-item {
    margin-bottom: 15px;

    & .el-form-item__error {
      position: relative;
    }
  }
}
